/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

}

/* LIGHT MODE VARIABLES */
:root {
    --bg-color: #aed6ff;
    --sidebar-color: #ffffff;
    --text-color: #000000;
    --card-color: #ffffff;
    --button-bg: #222;
    --button-text: #fcb9b9;
}

/* DARK MODE VARIABLES */
body.dark {
    --bg-color: #121212;
    --sidebar-color: #1e1e1e;
    --text-color: #f1f1f1;
    --card-color: #2a2a2a;
    --button-bg: #ff8787;
    --button-text: #000000;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* LAYOUT */
.container {
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background-color: var(--sidebar-color);
    padding: 30px 20px;

}

.logo {
    text-align: center;
    margin-bottom: 70px;
}

.menu {
    list-style: none;
}

.menu li {
    padding: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 10px;
}

.menu li:hover {
    background-color:rgba(255, 156, 156, 0.2);
}

/* MAIN CONTENT */
.main-content {
    flex: 1;
    padding: 40px;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#themeToggle {
    padding: 16px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--button-bg);
    color: var(--button-text);
}

/* CARDS */
.cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background-color: var(--card-color);
    padding: 30px;
    border-radius: 12px;
    width: 350px;
    text-align: center;
    box-shadow: 0 4px 7px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 15px;
}
.inputs {
    display: flex;
    gap: 220px;
    margin-bottom: 20px;
}

.inputs input {
    padding: 8px;
    width: 180px;
    border-radius: 5px;
    border: 1px solid #ccc;
}